/* Header Section */
header {
    /* We're setting the size so set the position to relative */
    position: relative;
    width: 100%;
    height: 100px;

    /* I chose an off-white for my header color */
    /*background-color: #ccc;*/
}

/* To keep things tidy all content is inside this box 
 * instead of header section */
.header-content {
    /* We're setting the size so set the position to relative */
    position: relative;
    width: 100%;
    height: 100%;

    /* HTML by default is really good at showing one item per line
     * using display:flex is an easy way to align objects 
     * horizontally without lots of extra work */
    display: flex;
    /* row for horizontal */
    flex-direction: row;
    /* pushes boxes inside away from each other */
    justify-content: space-between;
}

/* Instead of having seperate rules for .header-left and
 * .header-right they can share makeup by using a ',' */
.header-left, .header-right {
    /* display:flex is an easy way to align objects horizontally */
    display: flex;
    /* row for horizontal */
    flex-direction: row;
    /* align-items:center for vertical centering of boxes */
    align-items: center;

    /* padding so we don't feel cramped, 1rem = 8px */
    padding: 1rem;
}

.header-left .header-logo {
    /* We're setting the size so set the position to relative */
    position: relative;
    width: 64px;
    height: 64px;

    /* Add rounded corners */
    border-radius: 50%;

    /* I used a PNG so add a pretty background here 
       I'm using a gradient but you can just provide a normal color as well */
    background: linear-gradient(#ff00ff, #9900ff);
}
.header-left h1 {
    /* Remove the default Margin from Headers*/
    margin: 0;

    /* Make the Font look nicer */
    color: #9900ff;
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: 100;

    /* add padding to make it not feel cramped, 1rem = 8px */
    padding-left: 1rem;
    /* Add padding to center vertically perfectly */
    padding-top: .2rem;
}
.header-right a {
    /* Set the link color */
    color: #777;
    /* Remove the underline (I think it looks cleaner) */
    text-decoration: none;
    /* add padding to make it not feel cramped, 1rem = 8px */
    padding-left: 1rem;
    /* Prevent the text from wrapping */
    white-space: nowrap;
}